%h2 #{@app.name}
.api-key.well
  API Key: #{@app.api_key}
%h3
  Recent Errors
.errors
  - @app.errors.recent_first.each do |error|
    .error
      = link_to error.message, session_path(error.session)

