%h1 #{@app.name}
= link_to "Delete App", app_path(@app), method: :delete
.api-key
  API Key: #{@app.api_key}
.sessions
  - @app.sessions.order("updated_at desc").each do |session|
    .session
      = link_to session.description, session_path(session)

